.addForm {
	display: flex;
	border: 1px solid #ddd;
	max-width: 500px;
	align-items: center;
	border-radius: 3px;
	input {
		border: none;
		&:focus {
			border: none;
		}
		justify-content: space-between;
	}
}

.btn {
	display: flex;
	align-items: center;
	background: none;
	color: #ddd;
	padding: 0 0 0 5px;
	&:hover {
		background: none;
	}
}

.addForm1 {
	display: flex;
	align-items: flex-end;
	input {
		margin-bottom: 0;
	}
	.btn {
		border: 1px solid #ccc;
		color: #ccc;
		height: fit-content;
		padding: 5px 10px;
		margin-left: 10px;
		transition: all 0.3s;
		&:hover {
			background: #18aefa;
			color: #fff;
		}
	}
}
.score {
	input {
		border: none;
		&:focus {
			border: none;
		}
	}
}
