.addForm {
	display: flex;
	border: 1px solid #ddd;
	width: fit-content;
	align-items: center;
	border-radius: 3px;
	margin-bottom: 20px;
	input {
		border: none;
		&:focus {
			border: none;
		}
		justify-content: space-between;
	}
	.btn {
		display: flex;
		align-items: center;
		background: none !important;
		color: #ddd !important;
		padding: 0 0 0 5px !important;
		&:hover {
			background: none !important;
		}
	}
}

.addForm1 {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-bottom: 20px;
	> div {
		margin-right: 10px;
		input {
			margin-bottom: 0;
		}
	}
	.btn {
		border: 1px solid #ccc;
		color: #ccc;
		height: fit-content;
		padding: 5px 10px;
		transition: all 0.3s;
		&:hover {
			background: #18aefa;
			color: #fff;
		}
	}
}
.score {
	input {
		border: none;
		&:focus {
			border: none;
		}
	}
}
