.Card {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-radius: 20px 0 20px 0;
	border-width: 1px;
	border-style: solid;
	color: #000;
	p {
		margin: 0;
		font-weight: 500;
		&.total {
			font-size: x-large;
			font-weight: bold;
		}
	}
	span {
		padding: 10px;
		font-size: xx-large !important;
		color: #fff;
		background-color: red;
		border-radius: 10px;
	}
}
.primary.Card {
	border-color: #a0c5e8;
	background-color: #d1effe;
	span {
		background-color: #a0c5e8;
	}
}
.secondary.Card {
	border-color: #6e6bfa;
	background-color: #e2e1fe;
	span {
		background-color: #6e6bfa;
	}
}
.alert.Card {
	border-color: #f46841;
	background-color: #fde1d9;
	span {
		background-color: #f46841;
	}
}
.warning.Card {
	border-color: #fdbb38;
	background-color: #fedd9b;
	span {
		background-color: #fdbb38;
	}
}
