label,
input,
select {
	width: 100%;
	font-size: 16px;
	font-weight: 500;
}
label {
	margin-bottom: 10px;
}
input,
select {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 20px;
	&:focus {
		outline: none;
		border: 1px solid #ffbc53;
	}
}
.select-custom {
	position: relative;
	select {
		appearance: none;
		padding-right: 30px;
	}
	span {
		position: absolute;
		top: 8px;
		right: 5px;
		pointer-events: none;
		color: #ddd;
	}
	&:focus-within {
		span {
			transform: rotate(180deg);
		}
	}
}
input[type='file'] {
	padding: 0;
	&::file-selector-button {
		border: none;
		padding: 5px 10px;
		margin-right: 10px;
	}
}
.btn {
	border: none;
	color: #fff !important;
	background: #ffbc53 !important;
	border-radius: 5px;
	padding: 5px 15px !important;
	font-weight: 500;
	font-size: large;
	cursor: pointer;
	&:hover {
		background: #18aefa !important;
	}
}
.search {
	position: relative;
	ul {
		opacity: 0;
		visibility: hidden;
		list-style-type: none;
		position: absolute;
		border: 1px solid #ddd;
		background: #fff;
		width: 100%;
		top: 100%;
		padding: 0;
		transition: all 0.5s;
		z-index: 5;
		&.show {
			opacity: 1;
			visibility: visible;
		}
		li {
			cursor: pointer;
			padding: 10px;
			font-size: 16px;
			&:hover {
				background-color: #18aefa;
				color: #fff;
			}
		}
	}
}
