.layout-background {
	background-color: #fff;
}
.sider-menu {
	background-color: #f7f7fa;
	li {
		text-transform: capitalize;
	}
	li:hover {
		background-color: #fff;
		color: #1890ff;
	}
}
.logo {
	padding: 15px;
	img {
		max-height: 30px;
	}
}
.site-layout {
	min-height: 100vh;
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		.drop-down {
			position: absolute;
			right: 15px;
			line-height: normal !important;
			border: 1px solid #dfdfdf;
			padding: 0;
			z-index: 6;
			background-color: #fff;
			li:first-of-type {
				display: flex;
				align-items: center;
				background-color: #f3f4f6;
				cursor: default;
				div {
					margin-left: 15px;
					text-transform: capitalize;
				}
				.name {
					font-size: large;
				}
				.role {
					font-size: medium;
					color: #757579;
				}
			}
			li {
				list-style: none;
				padding: 10px 20px;
				font-weight: 500;
			}
			li:not(:first-of-type) {
				border-top: 1px solid #dfdfdf;
				&:hover {
					background-color: #f3f2f2;
					color: #ffbc53;
				}
			}
		}
	}
}
.user-management {
	padding: 0 20px;
	transition: 1s all;
	cursor: pointer;
	&:hover {
		background-color: #fafafa;
	}
	.anticon {
		transition: all 1s;
		&.collapsed {
			transform: rotate(180deg);
		}
	}
}
h1 {
	margin-bottom: 5px !important;
}
.breadcrumb {
	margin: 10px 0 20px 0;
}

aside.sider-menu {
	li.ant-menu-submenu {
		ul {
			display: none;
		}
		&.ant-menu-submenu-open {
			ul {
				display: block;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	aside.sider-menu {
		position: absolute;
		top: 64px;
		z-index: 3;
		height: 100vh;
		div.logo {
			display: none;
		}
	}
}
